﻿@{
    ViewData["Title"] = "Configure";
    ViewData["ContentHeader"] = "Configure";
}

<!-- Main content -->
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"><b>Configure</b></h3>
        </div>
        <div class="box-body">
            All the configurations will be displayed here
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->