﻿@{
    ViewData["Title"] = "Administrator Dashboard";
    ViewData["ContentHeader"] = "Dashboard";
}

<!-- Main content -->
<section class="content">
    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">Dashboard</h3>
        </div>
        <div class="box-body">
            Dashboard widgets goes here
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->