﻿@{
    ViewData["Title"] = "Administrator Login Page";
}
@model LoginModel
<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>Fitness 24x7</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form asp-controller="Admin" asp-action="Login" method="post">
            <input type="hidden" name="RequestPath" id="RequestPath" value="@ViewBag.RequestPath" />
            <div class="form-group has-feedback">
                <input type="email" class="form-control" id="Username" name="Username" placeholder="Email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" id="Password" name="Password" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input id="RememberMe" password="RememberMe" type="checkbox"> Remember Me
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        @*<a href="#">I forgot my password</a><br>*@
    </div>
</div>
@section scripts{ 
<script type="text/javascript">
        $(document).ready(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-red',
                radioClass: 'iradio_square-red',
                increaseArea: '20%' // optional
            });
        });
</script>
}
