﻿@{
    ViewData["Title"] = "Members";
    ViewData["ContentHeader"] = "Members";
}

<!-- Main content -->
<section class="content">
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title"><b>Members</b></h3>
        </div>
        <div class="box-body">
            Members Data will be displayed here
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->