﻿@{
    ViewData["Title"] = "Schedules";
    ViewData["ContentHeader"] = "Schedules";
}

<!-- Main content -->
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title"><b>Schedules</b></h3>
        </div>
        <div class="box-body">
            Schedules Data will be displayed here
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->